.sidebar {
  flex: 1;
  background: #ffffff;
  height: calc(100vh - 50px);
  /* position: fixed; */
}

.sidebarSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  border-bottom: 1px solid #d3d3d3;
}

.sidebarSearch input {
  padding: 8px;
  border-radius: 3px;
  outline: none;
  border: solid 0.8px #e8e8e8;
}

.sidebarSearch input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 3px #00bfff;
}

.sidebarWrapper {
  margin-top: 20px;
  color: #00bfff;
  font-size: 16px;
}

.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarList {
  list-style: none;
}

.sidebarListItem {
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebarListItem:hover {
  background-color: #f1f4f7;
}

.sidebarIcon {
  font-size: 25px !important;
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}
.active-class > .sidebarListItem {
  background-color: #00bfff;
  color: #fff;
}
